# Python cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual environment
# -----------------------------
venv/
.env

# -----------------------------
# Environment variables
# -----------------------------
.env.*
# If you use local config files
config.py
config_local.py

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
